* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --text-color: #e1e1e6;
  --text-color2: #7c7c8a;
  --bg-secondary: #06181c;
  --button: #065e7c;
  --header-table: #092d38;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);

  background-color: #2f2f33;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 293px;
  justify-content: space-between;
  margin: 115px 0 87px 0;
}

header > img {
  width: 186px;
  height: 32px;
}

.search {
  display: flex;
  gap: 8px;
  flex: 1;
}

.search input {
  flex: 1;
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 5px;
  color: var(--text-color2);
  padding: 16px;
  font-size: 1.6rem;
}

.search button {
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: var(--button);
  padding: 12px 32px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background-color: #ffffff;
  color: var(--button);
}

.search button:hover svg {
  color: var(--button);
}

.search button p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 2px;
}

.user-list {
  border: 1px solid #4a808c;
  border-radius: 12px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
}

thead th {
  background-color: var(--header-table);
  padding: 16px 40px;
  text-align: left;
  font-size: 2rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

tbody tr td {
  padding: 28px 40px;
}

table tr:nth-child(even) {
  background-color: #4a808c;
}

table tr {
  border-bottom: 1px solid #4a808c;
}

.user {
  display: flex;
  gap: 16px;
}

.user a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.user a span {
  color: var(--text-color);
  font-weight: 100;
}

td button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #f75a68;
  cursor: pointer;
}
